
header{
    background-color: hsl(210, 29%, 24.3%);
    height: 50px;
    color: white;
}

.bg-light-blue{
    background-color: hsl(168.1, 75.7%, 42%);
    color: white;
}

main section div.img{
    height: 180px;
    width: 180px;
    background-color: red;
    border-radius: 100%;
}

main section#portfolio div.container article>img{
    height: 300px;
}

main nav ul{
    list-style-type: none;
}

main nav ul>li{
    border-bottom: solid black;
    padding-bottom: 1rem;
}